body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 18px;
}

form {
    width: 400px;
    max-width: 400px;
}

.fortest {
    color: red;
}

textarea {
  min-height:110px;
}

.noresize {
  resize: none;
}

.vresize {
  resize: vertical;
}

img.img-table {
    max-width: 100px;
    height: auto;
    display: block;
}

.m-block{
    display:block;
}

.m-changed{
    color: red;
    display:block;
}